apiVersion: v1
kind: Secret
metadata:
  name: catalog-api-secret
  namespace: default
type: Opaque
stringData:
  CONNECTION_STRING: "Server=sqlserver-service,1433;Database=FCG_Catalog;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;"
  JWT_AUTHORITY: "https://cognito-idp.<REGION>.amazonaws.com/<USER_POOL_ID>"
  REDIS_CONNECTION_STRING: "<redis-service-host>:6379"
  MONGODB_CONNECTION_STRING: "mongodb://<mongodb-service-host>:27017"
